.app-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.editor-container {
    flex: 0 0 60%;
    /* background: #f9f9f9; */
    padding: 1rem;
    box-sizing: border-box;
}

.preview-container {
    flex: 1;
    /* background: #ffffff; */
    padding: 1.2rem;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
}